body {
    font-family: Arial, Helvetica, Cambria, sans-serif;
    background-color: #f9f9f9;
    color: #000;
    padding: 40px;
    line-height: 1.5;
}

h1 {
    text-align: center;
    color: #0047ab;
    font-size: 32pt;
    margin-bottom: 40px;
}

.course {
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.coursecode {
    font-size: 24pt;
    color: #0047ab;
    font-weight: bold;
}

.coursetitle {
    font-family: Helvetica, Cambria, Arial, sans-serif;
}

.lecturername {
    font-family: Verdana, sans-serif;
    color: black;
    margin-left: 50px;
    font-size: 14pt;
}
